.sign_up_container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.signup_form{
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px gray;
}
label{
  display: block;
  margin-bottom: 12px;
}
/* ------------------------login------------------- */
.login_wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form{
  width: 400px;
  padding: 20px;
  box-shadow: 0 0 9px gray;
}